<%= simple_form_for @page do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:
      </h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :content, as: :summernote %>

  <%= f.button :submit, class: 'btn btn-primary' %>
 
<% end %>