<div class="post-meta">
  <p>
  <%= @posted %>
  <% if @updated != "" %>
    <span> | </span>
    <%= @updated %>
  <% end %>
  </p>
</div>

<% if @blog_post.rating %>
  <div id="rating">
    <div id="rating-label">Rating: </div>
    <%= content_tag :div, "", id: "rateYo", data: { rating: @blog_post.rating } %>
  </div>
<% end %>

<!--
<div id="author-info">
  <%= link_to 'Blog Author Name', about_path %>
  <%= link_to 'Contact', contact_path %>
</div>
-->