<div class="blog-post-links">
  <%= link_to 'Read More', blog_post_path(blog_post) %>
  <% if user_signed_in? %>
    <%= " | " %>
    <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
    <%= " | " %>
    <%= link_to 'Delete', blog_post_path(blog_post),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>