<%= simple_form_for @blog_post do |f| %>

  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blog_post.errors.count, "error") %> prohibited
        this blog_post from being saved:
      </h2>
      <ul>
        <% @blog_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :author_name %>
  <!-- <%= f.input :book_cover %> -->
  <%= f.input :image_url, as: :url %>
  <%= f.input :body, as: :summernote %>
  <%= f.input :rating, collection: [1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0] %>
  <%= f.input :tag_list %>
  <%= f.button :submit, class: 'btn btn-primary' %>
 
<% end %>
