<!-- requires vairables created_at and updated_at -->
<p class="post-meta">
  <%= "Posted: " %> 
  <%= local_date(created_at, "%B %d, %Y") %>
  <% if local_date(created_at, "%B %d, %Y") != local_date(updated_at, "%B %d, %Y") %>
    <%= " | Last updated: " %>
    <%= local_date(updated_at, "%B %d, %Y") %>
  <% end %>
</p>