<div class="post-preview">
  <!-- Look into cleaning this up -->
  <%= link_to blog_post_path(blog_post) do %>
    <h2 class="post-preview-title">
      <%= blog_post.title %>
      <% if blog_post.author_id %>
        <%= " by " %>
        <% author = Author.find(blog_post.author_id) %>
        <%= link_to author.name, author_path(author), class: "author-link" %>
      <% end %>
    </h2>
  <% end %>

  <div class="row">
    <div class="col-md-3 hidden-sm-down post-preview-left">
      <%= image_tag(blog_post.book_cover.url(:index), alt: "Book Cover", class: "img-responsive") %>
      <br>
      <!--
      <div class="col-lg-6">
        <%= image_tag("http://d.gr-assets.com/misc/1454549143-1454549143_goodreads_misc.png",
          alt: "Goodreads logo", class: "img-responsive external-link") %>

        <%= image_tag("http://vignette3.wikia.nocookie.net/logopedia/images/e/ee/Google_Play_logo.png/revision/latest?cb=20150902024443",
          alt: "Goodreads logo", class: "img-responsive external-link") %>
      </div>

      <div class="col-lg-6">
        <%= image_tag("https://s3.amazonaws.com/BURC_Pages/downloads/a-smile_color_btn.png",
          alt: "Goodreads logo", class: "img-responsive external-link") %>

        <%= image_tag("https://cdn3.iconfinder.com/data/icons/social-icons-5/607/Twitterbird.png",
          alt: "Goodreads logo", class: "img-responsive external-link") %>
      </div>
      -->
    </div>
    <div class="col-md-9 post-preview-right">
      <!-- truncates posts to 500 char or less
        separator: ' ' means it will not stop in the middle of a word 
        escape: false basically means html will get displayed properly, 
        instead of being escaped into <p><ul>, etc. tags -->
      <%= truncate_html(blog_post.body.html_safe, length: 400, separator: ' ', escape: false) %>
      <%= render 'blog_posts/blog_post_links', blog_post: blog_post %>
    </div>
  </div>
  <%= render 'blog_posts/blog_post_tags', blog_post: blog_post %>
</div>

<hr>