<header class="intro-header">
  <div class="site-heading">
    <h1>
      <%= "Browse by " %>
    </h1>

    <h1>
      <%= link_to "tags", tags_path, class: 'tag-link' %>
      <%= link_to "authors", authors_path, class: 'author-link'%>    
    </h1>
  </div>
</header>