/*
$('#my-posts').append('<%= j render @blog_posts %>');
<% if @blog_posts.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @blog_posts %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
*/