<article>
  <h2 class="blog-post-title">
    <%= @blog_post.title %>
    <% if @blog_post.author_id %>
      <%= " by " %>
      <% author = Author.find(@blog_post.author_id) %>
      <%= link_to author.name, author_path(author), class: "author-link" %>
    <% end %>
  </h2>

  <div class="col-lg-4 col-md-4 post-preview-left">
    <%= image_tag(@blog_post.book_cover.url(:full), alt: "Book Cover", class: "img-responsive") %>
  </div>

  <%= @blog_post.body.html_safe %>

  <%= render 'blog_posts/blog_post_author' %>

  <div class="tag-container">
  <% @blog_post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'tag-link' %>
  <% end %>
  </div>

  <div id="author-info"></div>

  <% if user_signed_in? %>
    <div class="blog-post-links">
      <!-- <%= link_to 'Back', root_path %>
      <%= " | " %>  -->
      <%= link_to 'Edit', edit_blog_post_path(@blog_post) %>
      <%= " | " %>
      <%= link_to 'Delete', blog_post_path(@blog_post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <div id="subscriber_email">
    <%= render 'subscribers/form' %>
  </div>
  
  <!--
  <% #Inefficient %>
  <% if @blog_post.author_id and Author.find(@blog_post.author_id).info %>
    <h4>
      <%= "About " %>
      <%= link_to author.name, author_path(author), class: "author-link" %>
    </h4>
    <%= Author.find(@blog_post.author_id).info.html_safe %>
  <% end %>
  -->
</article>