<%= simple_form_for @author do |f| %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:
      </h2>
      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :info, as: :summernote %>

  <%= f.button :submit, class: 'btn btn-primary' %>
 
<% end %>