<header class="intro-header">
  <div class="site-heading">
    <h1>Browse by author</h1>
  </div>
</header>

<% @authors.each do |author| %>
  <%= link_to "#{author.name} #{author.blog_posts.count}", author_path(author), class: 'author-link' %>
<% end %>