<header class="intro-header">
  <div class="site-heading">
    <h1><%= link_to @author.name, author_path(@author.name), class: 'author-link' %></h1>
  </div>
</header>

<% if @author.info %>
  <div id="author-info"><%= @author.info.html_safe %></div>
<% end %>

<% if user_signed_in? %>
  <div class="blog-post-links">
    <%= link_to 'Edit', edit_author_path(@author) %>
    <%= " | " %>
    <%= link_to 'Delete', author_path(@author),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<hr>

<!-- <header class="intro-header">
  <h2>Posts about <%= link_to @author.name, author_path(@author), class: "author-link" %></h2>
</header> -->

<!-- <div class="author-container">
<% @authors.each do |a| %>
  <% unless a.blog_posts.count == 0 %>
    <%= link_to "#{a.name} #{a.blog_posts.count}", author_path(a), class: 'author-link' %>
  <% end %>
<% end %>
</div> -->

<% @author_blog_posts.each do |blog_post| %>
  <%= render 'blog_posts/post_preview', blog_post: blog_post %>
<% end %>

<%= will_paginate @author_blog_posts %>