<header class="intro-header">
  <div class="site-heading">
    <h1>Browse by tag</h1>
  </div>
</header>

<% @tags.each do |tag| %>
  <% unless tag.blog_posts.count == 0 %>
    <%= link_to "#{tag.name} #{tag.blog_posts.count}", tag_path(tag), class: 'tag-link' %>
  <% end %>
<% end %>