<header class="intro-header">
  <div class="site-heading">
    <h1>Posts Tagged with <%= link_to @tag.name, tag_path(@tag), class: "tag-link" %></h1>
  </div>
</header>

<div class="tag-container">
<% @tags.each do |t| %>
  <% unless t.blog_posts.count == 0 %>
    <%= link_to "#{t.name} #{t.blog_posts.count}", tag_path(t), class: 'tag-link' %>
  <% end %>
<% end %>
</div>

<% @tag_blog_posts.each do |blog_post| %>
  <%= render 'blog_posts/post_preview', blog_post: blog_post %>
<% end %>

<%= will_paginate @tag_blog_posts %>