<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>

    <p>Hello!</p>

    <p>Here's what Hope's been up to over the past week:</p>

    <% @recent_posts.each do |blog_post| %>
      <div class="post-preview">
        <!-- Look into cleaning this up -->
        <%= link_to blog_post_url(blog_post) do %>
          <h2 >
            <%= blog_post.title %>
            <% if blog_post.author_id %>
              <%= " by " %>
              <% author = Author.find(blog_post.author_id) %>
              <%= link_to author.name, author_url(author), class: "author-link" %>
            <% end %>
          </h2>
        <% end %>

        <table style="width:340px">
          <tr>
            <td>
              <%= image_tag(blog_post.book_cover.url(:index), alt: "Book Cover", size: "150x225") %>
            </td>
            <td>
              <!-- truncates posts to 500 char or less
                separator: ' ' means it will not stop in the middle of a word
                escape: false basically means html will get displayed properly,
                instead of being escaped into <p><ul>, etc. tags -->
              <%= truncate(blog_post.body.html_safe, length: 400, separator: ' ', escape: false) %>
            </td>
          </tr>
        </table>
      </div>
      <hr>
    <% end %>

    <p>You're receiving this email because you're subscribed to Hope Speaks Volumes.</p>
    <p>If you wish to unsubscribe, click the link below.</p>

    <p><%= link_to "Unsubscribe", unsubscribe_url(token: @token) %></p>
  </body>
</html>
