<div id="email_form_contents">
<h4>Want to get weekly updates on what Hope's been reading? Subscribe here!</h4>

<%= form_for @subscriber, html: { autocomplete: 'off' } do |f| %>
  <%= f.text_field :email %>
  <%= f.submit 'Subscribe', class: 'btn btn-primary', id: 'email_subscribe_button', :"data-no-turbolink" => true %>
<% end %>
</div>

<p id="email_form_success">Thanks!</p>