@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote";

/* colors */

/* amorcita color scheme */
$ocean-blue: #011826;
$medium-blue: #023859;
$royal-blue: #03658C;
$sky-blue: #049DBF;
$off-white: #F1F2EB;

$dark-gray: #333333;

/* fonts */
$raleway: 'Raleway', sans-serif;
$slabo27px: 'Slabo 27px', serif;

/*!
 * Start Bootstrap - Clean Blog v1.1.0 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html, body {
  height: 100%;
  margin: 0;
}

.navbar-brand {
  font-size: 1em;
  line-height: 1em;
}

body {
  font-family: $raleway;
  font-size: 19px;
  color: $ocean-blue;
  background-image: url('gplaypattern.png');
  padding-top: 65px;

  -webkit-tap-highlight-color: #0085A1;
}

article {
  padding: 0 10px 0 10px;
}

p {
  line-height: 1.41;
  padding-top: 0px;
  /* a {
    text-decoration: underline;
  } */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $raleway;
  font-weight: 800;
}

h2 {
  text-align: center;
}

a {
  color: $royal-blue;
}

a:hover,
a:focus,
a:active {
  color: $ocean-blue;
  text-decoration: none;
}

a img:hover,
a img:focus {
  cursor: zoom-in;
}

blockquote {
  color: $medium-blue;
  font-style: italic;
}

hr {
  max-width: auto;
  margin-bottom: 40px;
  border-width: 2px;
  border-color: $royal-blue;
}

footer {
  position: relative;
  bottom: 0;
  margin: 5% auto;
  left: 0;
  right: 0;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
}

.container {
  background: white; /* For browsers that do not support gradients */

  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
}

.buffer-container {
  height:100%;
}

.body-container {
  padding: 10px;
  min-height: -webkit-calc(100% - 100px);     /* Chrome */
  min-height: -moz-calc(100% - 100px);     /* Firefox */
  min-height: calc(100% - 100px);     /* native */
  height: -webkit-calc(100% - 100px);     /* Chrome */
  height: -moz-calc(100% - 100px);     /* Firefox */
  height: calc(100% - 100px);     /* native */
}

.row {
  padding: 10px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 0 0 25px; 
  color: $medium-blue;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
  }

  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }

  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }

  .post-preview > a > .post-title {
    font-size: 36px;
    color: $royal-blue;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.4em;
    line-height: 1.3em;
  }
}

@media (max-width: 991px) {
  img {
    display: none !important;
  }

  .container, .buffer-container, .body-container {
    padding: 0;
  }
}

.intro-header {
  background: no-repeat center center;
  /* background-image: url('home-bg.jpg'); */
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .site-heading,
  .page-heading {
    text-align: center;

    h1 {
      margin-top: 0;
      font-size: 50px;
    }

    .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      font-family: $raleway;
      font-weight: 300;
      margin: 10px 0 0;
    }
  }

  .post-heading {
    h1 {
      font-size: 35px;
    }

    .subheading,
    .meta {
      line-height: 1.1;
      display: block;
    }

    .subheading {
      font-family: $raleway;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }

    .meta a {
      color: $off-white;
    }
  }
}

.post-preview {
  padding-bottom: 0;
}

.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: $royal-blue;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: $royal-blue;
}

.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  color: $ocean-blue;
}

.post-meta {
  margin-top: 20px;
  p {
    font-style: italic;
    color: $royal-blue;
    font-size: 15px;
    span {
      font-style: normal;
      color: black;
    }
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blog-post-title {
  margin-bottom: 50px;
  color: $royal-blue;
}

.simple_form input[type='text'] {
  height: 34px;
  font-size: 24px;
}

#subscriber_email {
  background-color: #ADD8E6;
  border-width: 2px;
  border-color: $royal-blue;
  border-style: solid;
  padding: 15px;
  input[type='text'] {
    background-color: $off-white;
    border-width: 1px;
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    height: 34px;
  }
  .btn {
    margin-bottom: 3px;
  }
  h4 {
    color: $ocean-blue;
  }
  p {
    display: none;
  }
}

/* Not sure about proper way to do this, re-examine later */
.blog-post-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag-link:hover {
  background: #FFA62F; /* saffron */
}

.tag-link {
  color: $ocean-blue;
  margin: 1px;
  margin-top: 5px;
  padding: 10px;
  border: 2px;
  border-radius: 10px;
  background: #FBB917; /* cantaloupe */
  text-decoration: none;
  display: inline-block;
}

.tag-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.author-link:hover {
  background: #4CDD74; /* medium sea green */
}

.author-link {
  color: $ocean-blue;
  margin: 1px;
  margin-top: 5px;
  padding: 10px;
  border: 2px;
  border-radius: 10px;
  background: #6AFB92; /* algae green */
  text-decoration: none;
  display: inline-block;
}

.pagination {
  .prev .previous_page .next .next_page > a {
    font-family: $raleway;
    color: $royal-blue;
  }
  .disabled > a {
    font-family: $raleway;
  }
  .active > a {
    font-family: $raleway;
    background-color: $royal-blue;
  }
  margin-top: 50px;
}

.row {
  display: flex;
  padding-bottom: 0;
}

.post-preview-left {
  padding-top: 6px;
  padding-left: 0px;
  margin-left: 0px;
}

.post-preview-right {
  padding-left: 0px;
  padding-right: 10px;
  margin-right: 0px;
}

.post-preview-title {
  margin-bottom: 30px;
  text-align: center;
}

/* Important to avoid overlapping image! */
ul { 
  overflow: hidden; 
}

a[href="#s"] {
  background-color: $royal-blue;
  color: transparent;
}

a[href="#s"]:hover, a[href="#s"]:focus {
  background-color: $royal-blue;
  color: $off-white;
  text-decoration: none;
}

.external-link {
  margin-top: 12px;
}

/* #author-info {
  background-color: #EEEEEE;
  display: inline-block;
} */

#rating-label {
  font-size: 40px;
}
#rating {
  width: 100%;
  margin: 15px auto;
  display: flex;
}