<!-- Re-examine this later -->
<nav class="navbar navbar-fixed-top navbar-default">
  <!-- Might be better to go with just container, come back to this -->
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to "Hope Speaks Volumes", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_blog_post_path %></li>
          <li role="separator" class="divider"></li>
        <% end %>
        <li><%= link_to "Browse", browse_path %></li>
        <!-- <li><%= link_to "Search", '#' %></li> -->
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <% if user_signed_in? %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>