<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Look up what this means -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Look up what this means -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title><%= full_title(yield(:title)) %></title>

    <!-- RateYo Plugin for 5 Star Rating -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>

    <!-- Font - Raleway -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- navbar-inverse makes the navbar dark instead of light -->
    <%= render 'layouts/navbar' %>
    <div class="container col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="buffer-container col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="body-container">
          <!-- Code to display flash messages -->
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
          <!-- Show debug info if in the development environment (not in production) -->
          <!-- <%= debug(params) if Rails.env.development? %> -->

        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
